{% extends 'AppBundle::layout.html.twig' %}
{% block headline %}
    Dashboard
{% endblock headline %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="clearfix">
                    <span class="pull-left">Projects</span>
                    <strong class="pull-right">{{ projects|length }}</strong>
                </h2>
            </div>
        </div>
    {% for project in projects %}
        <div class="col-md-3">
        {% include 'AppBundle:includes:project.html.twig' with {'project' : project} %}
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="clearfix">
                    <span class="pull-left">Images</span>
                    <strong class="pull-right">{{ images|length }}</strong>
                </h2>
            </div>
        </div>
    {% for image in images %}
        <div class="col-md-3">
        {% include 'AppBundle:includes:image.html.twig' with {'image' : image} %}
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="clearfix">
                    <span class="pull-left">Container</span>
                    <strong class="pull-right">{{ container|length }}</strong>
                </h2>
            </div>
        </div>
    {% for item in container %}
        <div class="col-md-3">
        {% include 'AppBundle:includes:container.html.twig' with {'container' : item} %}
        </div>
    {% endfor %}
    </div>
{% endblock content %}
