<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <strong class="pull-left">{{ project.name }}</strong>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">{{ project.path }}</li>
        </ul>
        <div class="btn-group pull-right">
            <a href="{{ path('app.container.run', {'name' : project.name}) }}" class="btn btn-success">Run</a>
            <a href="{{ path('app.image.build', {'name' : project.name}) }}" class="btn btn-default">Build</a>
        </div>
    </div>
</div>
